[user]
  name = Nicolas Hefti
  email = nicolas@example.com
[core]
  excludesfile = ~/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
  type = cat-file -t
  dump = cat-file -p
